@use "reset";
@use "vars" as v;
@use "common";

//    HEADER
.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo {
      height: 36px;
    }
    .burger i {
      font-size: 28px;
      color: v.$dark4;
    }
  }
}
//    HERO
.hero {
  .container {
    display: grid;
    grid-template-columns: 274px auto;
    gap: 19px;
    overflow: visible;
  }
  // // &__graphic {
  // //   width: 176px;
  // //   height: 278px;
  // //   img {
  // //     width: 176px;
  // //     height: 278px;
  // //   }
  // }
}
//    UPSELL
.upsell {
  .container {
    color: v.$dark1;
    padding-top: 4.1625rem;
    padding-bottom: 1rem;
    // height: 326px;
    background: linear-gradient(to right, #ff7882, #d0c18e);
    // background: url(../img/background.svg);
    // background-size: cover;
    // overflow: visible;
    // background-position: center;
    p {
      padding-bottom: 1rem;
    }
  }
}
