@use "reset";
@use "vars" as v;
@use "common";

//    HEADER
.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo {
      height: 36px;
    }
    .burger i {
      font-size: 28px;
      color: v.$dark4;
    }
  }
}
.hero {
  .container {
    display: grid;
    grid-template-columns: 274px auto;
    gap: 19px;
    overflow: visible;
  }
  &__graphic {
    width: 176px;
    height: 278px;
    img {
      width: 176px;
      height: 278px;
    }
  }
}
